/** 
 * BASE
 * Base HTML elements' styling
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 1rem;
    padding: 0;

    line-height: 1.2;
}

h1,
.h1 {
    font-size: 2.369rem;
}

h2,
.h2 {
    font-size: 1.777rem;
}

h3,
.h3 {
    font-size: 1.333rem;
}

p {
    display: block;
    margin: 0 0 1rem;
}

button {
    appearance: none;
}

button:hover {
    cursor: pointer;
}

figure,
figcaption {
    display: inline-block;
    max-width: 100%;
    margin: 0;

    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}


figcaption {
    font-style: italic;
}
