/** 
 * Base
 *
 * Base HTML elements' styling
 */

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 100%;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

p {
    display: inline;
}

button {
    appearance: none;
}

button:hover {
    cursor: pointer;
}

figure,
figcaption {
    display: inline-block;
    max-width: 100%;
    margin: 0;

    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}


figcaption {
    font-style: italic;
}
