.button {
    display: inline-block;
    margin-bottom: 1rem;

    padding: 1rem;
    background-color: orange;
    border: none;
    box-shadow: 
        .1rem .2rem .3rem .1rem rgba(0, 0, 0, .1),  
        .1rem .2rem 1.3rem .1rem rgba(0, 0, 0, .3);

    font-size: 1rem;
    font-weight: 600;
    color: white;

    transition: all .333s linear;

    &:hover {
        background-color: orange;
        box-shadow: 
            0rem .1rem .3rem .1rem rgba(0, 0, 0, .1),  
            0rem .1rem 1rem .1rem rgba(0, 0, 0, .3);
    }

    &--rounded {
        width: 3rem;
        height: 3rem;

        border-radius: 3rem;

        line-height: 1;
    }

    &--fixed {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        z-index: +1;
    }
}