/** 
 * SETTINGS: COLOR
 */
$white: #FFF;
$grey-10: #EEE;
$grey-20: #CCC;
$grey-30: #999 ;
$grey-40: #666;
$grey-50: #555;
$grey-60: #444;
$grey-70: #333;
$grey-80: #222;
$grey-90: #111;
$black: #000;