/** 
 * Note
 * A single note
 */
.note {
    display: block;
    position: relative;
    
    margin-bottom: 1rem;
}

.note:before {
    position: absolute;
    left: -1rem;
}

.note__entry {
    display: block;
    width: 100%;
    margin: 0;

    padding: .333rem;
}

.note__entry:hover {
    background: #EEE;

    cursor: text;
}

.note__entry--placeholder {
    color: #CCC;

    &:focus {
        content: "";
    }
}

.note__meta {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.note:hover > .note__meta,
.note:focus > .note__meta,
.note:hover > .note__meta:hover {
    visibility: visible;
}
